In [1]:
import requests
import pandas as pd
from io import StringIO
import json 
import csv

In [2]:
# capture data within the tn boarders with longitude and latitude and convert to csv and start the time from 1900 to now
url = 'https://earthquake.usgs.gov/fdsnws/event/1/query?format=csv&minlatitude=34&maxlatitude=37&minlongitude=-92&maxlongitude=-84&starttime=1900-01-01&endtime=2020-10-17'

In [3]:
r = requests.get(url)

In [4]:
print(r.text[:1000])

time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
2020-10-16T02:28:36.570Z,36.1175,-89.7346667,9.95,2.16,md,32,36,0.02656,0.03,nm,nm60312372,2020-10-16T14:03:24.840Z,"9 km ENE of Steele, Missouri",earthquake,0.36,0.54,0.119,25,reviewed,nm,nm
2020-10-14T00:13:02.350Z,36.1251667,-89.7156667,10.16,1.83,md,33,57,0.01221,0.22,nm,nm60312142,2020-10-15T15:48:43.200Z,"9 km SW of Caruthersville, Missouri",earthquake,0.87,1.06,0.14,16,reviewed,nm,nm
2020-10-13T21:48:14.120Z,36.43,-90.8283333,10.08,2.51,md,6,154,0.4454,0.22,nm,nm60115023,2020-10-14T22:01:02.040Z,"6 km E of Maynard, Arkansas",earthquake,0.78,6.87,0.051,5,reviewed,nm,nm
2020-10-13T19:33:11.600Z,36.0683333,-89.8033333,6.88,1.94,md,22,50,0.06515,0.11,nm,nm60312087,2020-10-14T12:38:35.270Z,"2 km NNE of Cooter, Missouri",earthquake,0.22,0.55,0.101,13,reviewed,nm,nm
2020-10-13T07:28:58.390Z,36.1373333,-91.3603333,5.08,1.86,md,5,

In [5]:
tn_quake_df = pd.read_csv(StringIO(r.text))
tn_quake_df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2020-10-16T02:28:36.570Z,36.117500,-89.734667,9.95,2.16,md,32.0,36.0,0.02656,0.03,...,2020-10-16T14:03:24.840Z,"9 km ENE of Steele, Missouri",earthquake,0.36,0.54,0.119,25.0,reviewed,nm,nm
1,2020-10-14T00:13:02.350Z,36.125167,-89.715667,10.16,1.83,md,33.0,57.0,0.01221,0.22,...,2020-10-15T15:48:43.200Z,"9 km SW of Caruthersville, Missouri",earthquake,0.87,1.06,0.140,16.0,reviewed,nm,nm
2,2020-10-13T21:48:14.120Z,36.430000,-90.828333,10.08,2.51,md,6.0,154.0,0.44540,0.22,...,2020-10-14T22:01:02.040Z,"6 km E of Maynard, Arkansas",earthquake,0.78,6.87,0.051,5.0,reviewed,nm,nm
3,2020-10-13T19:33:11.600Z,36.068333,-89.803333,6.88,1.94,md,22.0,50.0,0.06515,0.11,...,2020-10-14T12:38:35.270Z,"2 km NNE of Cooter, Missouri",earthquake,0.22,0.55,0.101,13.0,reviewed,nm,nm
4,2020-10-13T07:28:58.390Z,36.137333,-91.360333,5.08,1.86,md,5.0,99.0,0.18010,0.07,...,2020-10-13T16:36:10.300Z,"8 km NW of Smithville, Arkansas",earthquake,0.93,7.62,0.130,4.0,reviewed,nm,nm

In [6]:
# capture the last word in the string wich is the state
tn_quake_df['state'] = tn_quake_df['place'].str[-9:]

In [7]:
# capture the date  
tn_quake_df['date'] = tn_quake_df['time'].str[:10]

In [8]:
# capture the time  
tn_quake_df['time'] = tn_quake_df['time'].str[11:]

In [9]:
# capture the time  
tn_quake_df['time'] = tn_quake_df['time'].str[:8]

In [11]:
# capture the year  
tn_quake_df['year'] = tn_quake_df['date'].str[:4]

In [12]:
tn_quake_df.tail(10)

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,state,date,year
9903,08:28:00,35.8,-90.4,NaN,4.8,fa,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,ushis,bar,Arkansas,1927-05-07,1927
9904,03:05:00,36.0,-90.0,NaN,4.5,fa,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,ushis,sc,Arkansas,1924-01-01,1924
9905,17:10:00,35.5,-90.4,NaN,4.8,fa,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,ushis,sc,Arkansas,1923-10-28,1923
9906,02:15:00,36.0,-89.2,NaN,4.5,fa,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,ushis,sg,Tennessee,1918-10-16,1918
9907,05:42:00,36.6,-89.2,NaN,3.8,fa,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,ushis,bar,Missouri,1916-12-19,1916
9908,18:40:00,36.0,-90.0,NaN,4.5,fa,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,ushis,bar,Arkansas,1915-12-07,1915
9909,16:57:00,34.0,-91.8,NaN,4.7,fa,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,ushis,sc,Arkansas,1911-03-31,1911
9910,07:10:00,37.0,-89.5,NaN,4.5,fa,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,ushis,bar,Missouri,1909-10-23,1909
9911,19:14:00,36.5,-89.8,NaN,5.1,fa,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,ushis,sc,Missouri,1903-11-04,1903
9912,18:18:00,36.5,-89.5,NaN,4.6,fa,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,ushis,sc,Tennessee,1903-11-04,1903

In [13]:
tn_quake_df['state'].unique()

array([' Missouri', ' Arkansas', 'Tennessee', ', Georgia', ' Illinois',
       ' Carolina', 'ssissippi', ', Alabama', ' Kentucky', 'Missouri',
       'Alabama', 'fic Ocean', 'Arkansas'], dtype=object)

In [14]:
# remove data that is not Tennessee
tn_quake_df = tn_quake_df.groupby('state').get_group('Tennessee')

In [15]:
# check that is correct
tn_quake_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4519 entries, 5 to 9912
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             4519 non-null   object
 1   latitude         4519 non-null   float64
 2   longitude        4519 non-null   float64
 3   depth            4515 non-null   float64
 4   mag              4517 non-null   float64
 5   magType          4512 non-null   object
 6   nst              3306 non-null   float64
 7   gap              3305 non-null   float64
 8   dmin             3225 non-null   float64
 9   rms              3309 non-null   float64
 10  net              4519 non-null   object
 11  id               4519 non-null   object
 12  updated          4519 non-null   object
 13  place            4519 non-null   object
 14  type             4519 non-null   object
 15  horizontalError  3343 non-null   float64
 16  depthError       3342 non-null   float64
 17  magError         3294 non-null   float64
 18  magNst           3305 non-null   float64
 19  status           4519 non-null   object
 20  locationSource   4519 non-null   object
 21  magSource        4519 non-null   object
 22  state            4519 non-null   object
 23  date             4519 non-null   object
 24  year             4519 non-null   object
dtypes: float64(12), object(13)
memory usage: 917.9+ KB

In [18]:
tn_quake_df.tail()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,state,date,year
9897,04:44:16,35.756,-89.803,16.0,4.0,fa,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,ushis,dg,Tennessee,1956-01-29,1956
9898,09:02:40,36.000,-89.500,NaN,3.9,fa,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,ushis,sc,Tennessee,1955-03-29,1955
9900,23:48:10,36.200,-89.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,ushis,ushis,Tennessee,1952-07-16,1952
9906,02:15:00,36.000,-89.200,NaN,4.5,fa,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,ushis,sg,Tennessee,1918-10-16,1918
9912,18:18:00,36.500,-89.500,NaN,4.6,fa,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,ushis,sc,Tennessee,1903-11-04,1903

In [19]:
tn_quake_df.shape

(4519, 25)

In [21]:
tn_quake_df.to_csv('cleaned_earthquake_data')