In [48]:
import requests
import pandas as pd
from io import StringIO
import json 
import csv

In [49]:
# capture data within the tn boarders with longitude and latitude and convert to csv and start the time from 1900 to now
url = 'https://earthquake.usgs.gov/fdsnws/event/1/query?format=csv&minlatitude=34&maxlatitude=37&minlongitude=-90&maxlongitude=-84&starttime=1900-01-01&endtime=2020-10-17'

In [50]:
r = requests.get(url)

In [51]:
print(r.text[:1000])

time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
2020-10-16T02:28:36.570Z,36.1175,-89.7346667,9.95,2.16,md,32,36,0.02656,0.03,nm,nm60312372,2020-10-16T14:03:24.840Z,"9 km ENE of Steele, Missouri",earthquake,0.36,0.54,0.119,25,reviewed,nm,nm
2020-10-14T00:13:02.350Z,36.1251667,-89.7156667,10.16,1.83,md,33,57,0.01221,0.22,nm,nm60312142,2020-10-15T15:48:43.200Z,"9 km SW of Caruthersville, Missouri",earthquake,0.87,1.06,0.14,16,reviewed,nm,nm
2020-10-13T19:33:11.600Z,36.0683333,-89.8033333,6.88,1.94,md,22,50,0.06515,0.11,nm,nm60312087,2020-10-14T12:38:35.270Z,"2 km NNE of Cooter, Missouri",earthquake,0.22,0.55,0.101,13,reviewed,nm,nm
2020-10-13T00:54:37.140Z,36.1415,-89.4576667,11.47,1.25,md,16,58,0.04641,0.16,nm,nm60312032,2020-10-15T17:36:47.360Z,"13 km NNW of Dyersburg, Tennessee",earthquake,0.48,1.25,0.09,9,reviewed,nm,nm
2020-10-12T14:41:42.180Z,36.1688333,-89.4633333,11.87,2

In [52]:
tn_quake_df = pd.read_csv(StringIO(r.text))
tn_quake_df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2020-10-16T02:28:36.570Z,36.117500,-89.734667,9.95,2.16,md,32.0,36.0,0.02656,0.03,...,2020-10-16T14:03:24.840Z,"9 km ENE of Steele, Missouri",earthquake,0.36,0.54,0.119,25.0,reviewed,nm,nm
1,2020-10-14T00:13:02.350Z,36.125167,-89.715667,10.16,1.83,md,33.0,57.0,0.01221,0.22,...,2020-10-15T15:48:43.200Z,"9 km SW of Caruthersville, Missouri",earthquake,0.87,1.06,0.140,16.0,reviewed,nm,nm
2,2020-10-13T19:33:11.600Z,36.068333,-89.803333,6.88,1.94,md,22.0,50.0,0.06515,0.11,...,2020-10-14T12:38:35.270Z,"2 km NNE of Cooter, Missouri",earthquake,0.22,0.55,0.101,13.0,reviewed,nm,nm
3,2020-10-13T00:54:37.140Z,36.141500,-89.457667,11.47,1.25,md,16.0,58.0,0.04641,0.16,...,2020-10-15T17:36:47.360Z,"13 km NNW of Dyersburg, Tennessee",earthquake,0.48,1.25,0.090,9.0,reviewed,nm,nm
4,2020-10-12T14:41:42.180Z,36.168833,-89.463333,11.87,2.06,md,36.0,44.0,0.03136,0.07,...,2020-10-12T15:29:06.870Z,"10 km SSE of Ridgely, Tennessee",earthquake,0.24,0.33,0.096,30.0,reviewed,nm,nm

In [53]:
# capture the last word in the string wich is the state
tn_quake_df['state'] = tn_quake_df['place'].str[-9:]

In [54]:
# capture the date  
tn_quake_df['date'] = tn_quake_df['time'].str[:10]

In [55]:
# capture the time  
tn_quake_df['time'] = tn_quake_df['time'].str[11:]

In [57]:
# capture the time  
tn_quake_df['time'] = tn_quake_df['time'].str[:8]

In [58]:
tn_quake_df.tail(10)

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource,state,date
8974,07:24:40,36.073,-89.827,8.0,4.4,fa,NaN,NaN,NaN,NaN,...,earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,sc,Missouri,1955-01-25
8975,23:48:10,36.200,-89.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,ushis,Tennessee,1952-07-16
8976,00:47:27,36.950,-89.200,NaN,4.7,fa,NaN,NaN,NaN,NaN,...,earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,sc,Missouri,1934-08-20
8977,03:05:00,36.000,-90.000,NaN,4.5,fa,NaN,NaN,NaN,NaN,...,earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,sc,Arkansas,1924-01-01
8978,02:15:00,36.000,-89.200,NaN,4.5,fa,NaN,NaN,NaN,NaN,...,earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,sg,Tennessee,1918-10-16
8979,05:42:00,36.600,-89.200,NaN,3.8,fa,NaN,NaN,NaN,NaN,...,earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,bar,Missouri,1916-12-19
8980,18:40:00,36.000,-90.000,NaN,4.5,fa,NaN,NaN,NaN,NaN,...,earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,bar,Arkansas,1915-12-07
8981,07:10:00,37.000,-89.500,NaN,4.5,fa,NaN,NaN,NaN,NaN,...,earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,bar,Missouri,1909-10-23
8982,19:14:00,36.500,-89.800,NaN,5.1,fa,NaN,NaN,NaN,NaN,...,earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,sc,Missouri,1903-11-04
8983,18:18:00,36.500,-89.500,NaN,4.6,fa,NaN,NaN,NaN,NaN,...,earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,sc,Tennessee,1903-11-04

In [59]:
tn_quake_df['state'].unique()

array([' Missouri', 'Tennessee', ' Arkansas', ', Georgia', ' Illinois',
       ' Carolina', 'ssissippi', ', Alabama', ' Kentucky', 'Missouri',
       'Alabama', 'fic Ocean', 'Arkansas'], dtype=object)

In [60]:
# remove data that is not Tennessee
tn_quake_df = tn_quake_df.groupby('state').get_group('Tennessee')

In [61]:
# check that is correct
tn_quake_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4519 entries, 3 to 8983
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             4519 non-null   object
 1   latitude         4519 non-null   float64
 2   longitude        4519 non-null   float64
 3   depth            4515 non-null   float64
 4   mag              4517 non-null   float64
 5   magType          4512 non-null   object
 6   nst              3306 non-null   float64
 7   gap              3305 non-null   float64
 8   dmin             3225 non-null   float64
 9   rms              3309 non-null   float64
 10  net              4519 non-null   object
 11  id               4519 non-null   object
 12  updated          4519 non-null   object
 13  place            4519 non-null   object
 14  type             4519 non-null   object
 15  horizontalError  3343 non-null   float64
 16  depthError       3342 non-null   float64
 17  magError         3294 non-null   float64
 18  magNst           3305 non-null   float64
 19  status           4519 non-null   object
 20  locationSource   4519 non-null   object
 21  magSource        4519 non-null   object
 22  state            4519 non-null   object
 23  date             4519 non-null   object
dtypes: float64(12), object(12)
memory usage: 882.6+ KB

In [62]:
tn_quake_df.shape

(4519, 24)

In [63]:
tn_quake_df.to_csv('cleaned_earthquake_data')